// Colors
$color-white: #fff;
$color-black: #343434;
$color-blue: #388AF3;
$color-red: #FF0000;
$color-transparent: rgba(#fff, .0);

// Fonts
$font-primary: 'Gilroy', sans-serif;

// Animations
$transition-default: 0.3s ease;

// Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;