.container {
  width: 100%;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 42px;
  padding-right: 42px;

  &--fluid { // .container--fluid
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    @media (min-width: $breakpoint-desktop) {
      padding-left: 52px;
      padding-right: 52px;
    }
  }
}